.navbar > div:last-child {
    width: 100%;
    height: 96px;
    padding: 24px 40px;
    background-color: #FCFCFC;
    display: flex;
    justify-content: end;
}

.navbar-user-avatar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    width: 120px;
    height: 48px;
}



.navbar-user-avatar > div:nth-child(2) {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.navbar-user-avatar > div:nth-child(2) i {
    font-size: 20px;
}

.navbar-user-avatar > div:nth-child(2) span {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #FF6A55;
    top: 12px;
    right: 16px;
}

.navbar-user-avatar > div:last-child {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #FFBC99;
    overflow: hidden;
    cursor: pointer;
}

.dropdown {
    width: 6%;
    border: 1px solid;
    background-color: white;
    position: absolute;
    top: 80px;
    right: 20px;
    z-index: 2;
    text-align: center;
}

.dropdown div {
    padding: 4px 8px;
    cursor: pointer;
}
