.bg-white,
hr {
  background-color: #fff;
}

.rounded {
  border-radius: 16px;
}

.p-1 {
  padding: 1rem;
}

.m-auto {
  margin: auto;
  width: calc(100% - 100px);
}

.d-flex {
  display: flex;
  justify-content: space-between;
}

.my-26 {
  margin-bottom: 13px !important;
  margin-top: 13px !important;
}

label {
  display: block;
}

input,
select,
textarea {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border-color: transparent;
  background-color: #f4f4f4;
}

input:focus-visible,
select:focus-visible,
textarea:focus-visible {
  outline: #dadada auto 1px !important;
}

textarea {
  resize: none;
}

.label {
  color: #33383f;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 6px;
}

.grid-2 {
  display: grid;
  grid-template-columns: auto auto;
}

.pl-1 {
  padding-left: .5rem;
}

.pr-1 {
  padding-right: .5rem;
}

.text-right {
  margin-left: auto;
  display: block;
}
